.admin-main-content {
  background-color: #f5f7fa;
  transition: margin-left 0.3s ease;
}

.content-header {
  margin-bottom: 20px;
  text-align: center;
}

.content-header h1 {
  font-size: 22px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 8px;
  text-decoration: underline;
}

.content-header p {
  font-size: 20px;
  color: #7f8c8d;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.content-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.content-card h2 {
  font-size: 15px;
  color: #34495e;
  margin-bottom: 8px;
}

.content-card p {
  font-size: 18px;
  font-weight: bolder;
  color: #2ecc71;
}

.medium-graph {
  margin: 10px;
  padding: 5px;
  width: 95%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.medium-graph h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  color: #333; 
}
