body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  /* background: url("AdminLogin.jpeg"); */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.admin-login-container {
  display: flex;
  justify-content: center;
  /* background: url("AdminLogin.jpeg"); */
  align-items: center;
  width: 100%;
}

.admin-login-box {
  background: lightblue;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.admin-heading {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.admin-form-group {
  margin-bottom: 20px;
  text-align: left;
}

.username {
  font-size: 24px;
}

#username {
  font-size: 20px;
}

.password {
  font-size: 24px;
}

#password {
  font-size: 20px;
}

.show-password{
  font-size: 20px;
}
/* label {
  font-size: 14px;
  color: #555;
} */

input {
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-top: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #66bb6a;
}

.input-error {
  border-color: #e53935;
}

.error {
  color: #e53935;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-group input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox-group label {
  /* font-size: 14px; */
  color: #555;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  background-color: #66bb6a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #43a047;
}