body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.user-homepage {
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

/* Navbar styles */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 100px; 
  height: auto;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #575757;
}

.homepage-content {
  margin-left: 500px;
  text-align: center;
  margin-top: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  border-radius: 40px;
  width: 80%;
  max-width: 500px;
  margin-bottom: 20px; 
}

.search-input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  width: 350px;
  border-radius: 15px;
}

.service-icon {
  width: 200px; 
  height: 200px;
  margin-right: 10px; 
}

/* Services section */
.services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.service-item {
  padding: 15px 25px;
  background-color: white;
  border-radius: 8px;
  font-weight: bolder;
  text-align: center;
  min-width: 120px;
}

.service-item:hover {
  color: red;
}
