.complaint {
    padding: 20px;
    width: 86vw;
    /* height: 100vh; */
  }
  
  .complaint h2 {
    margin-bottom: 15px;
    font-size: 30px;
  }
  
  .complaint p {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.6;
  }
  
  .complaint ul {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .complaint ul li {
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  .complaintheading{
    font-size: 30px;
  }
  .complaint-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    margin-top: 20px;
  }
  
  .complaint-table th,
  .complaint-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    font-size: 30px;
  }
  
  .complaint-table th {
    background-color: #f4f4f4;
  }
  