.feedback {
    padding: 20px;
    width: 88vw;
  }
  
  .feedback h2 {
    margin-bottom: 15px;
    font-size: 30px;
  }
  
  .feedback p {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.6;
  }
  
  .feedback ul {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .feedback ul li {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .feedback-heading{
    font-size: 28px;
  }
  .feedback-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid black;
  }
  
  .feedback-table th,
  .feedback-table td {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    border: 2px solid black;
  }
  
  .feedback-table th {
    background-color: #f4f4f4;
  }
  