.service-page {
    padding: 20px;
    background-color: #f5f7fa;
    min-height: 100vh;
    width: 80vw;
    /* height: 60vh; */
  }
  
  .service-page h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
    font-weight: bold;
  }
  
  .service-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .service-table th,
  .service-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .service-table th {
    background-color: #2c3e50;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  
  .service-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .service-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .service-table td {
    color: #34495e;
  }
  