.otp_request-container {
  width: 50vw;
  margin-bottom: 300px;
  max-width: 550px; 
  /* margin: 50px auto; */
  padding: 35px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: #f9f9f9;
  text-align: center;
}

/* Heading */
.otp_request-heading {
  font-size: 28px; /* Slightly smaller */
  font-weight: bold;
  margin-bottom: 25px;
  color: #333;
  text-decoration: underline;
}

/* Form */
.otp_request-form {
  display: flex;
  flex-direction: column;
}

.otp_request-form-group {
  margin-bottom: 22px;
  text-align: left;
}

/* Label */
.otp_request-label {
  font-size: 18px; /* Slightly smaller */
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

/* Input */
.otp_request-input {
  width: 100%;
  padding: 18px; /* Increased input padding */
  font-size: 22px; /* Slightly larger */
  margin-top: 6px;
  border-radius: 8px;
  border: 2px solid #bbb;
}

/* Button */
.otp_request-button {
  padding: 14px;
  font-size: 20px; /* Slightly smaller */
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.otp_request-button:hover {
  background-color: #0056b3;
}

.otp_request-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Error Message */
.otp_request-error-message {
  font-size: 16px; /* Slightly smaller */
  color: red;
  margin-bottom: 18px;
  font-weight: bold;
}

/* Success Message */
.otp_request-success-message {
  font-size: 16px; /* Slightly smaller */
  color: green;
  margin-bottom: 18px;
  font-weight: bold;
}
